@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins";
    color: #15ed24;
    background-color: #4C4E52;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px
}

header p {
    color: white;
    font-size: 20px;
}

.div-container {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    border: 3px dashed white;
    height: auto;
    width: 350px;
}

.card h2 {
    position: relative;
    display: flex;
    border: 3px solid white;
    font-weight: 500;
}

.card p {
    font-weight: 300;
}

pre {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-weight: 200;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(
        rgba(21, 237, 36, 0.3) 0%,
        rgba(21, 237, 36, 0.6) 100%
    );
}